.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: block;
}

ul{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

#main { 
    align-content: center;
    justify-content: center;
    margin: 10px;
}

